.DS_Store
node_modules
npm-debug.log*
.env
.env.*
!test/.env
logs
.host
coverage
coverage.html

.vscode/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml

Gemfile.lock

newrelic_agent.log

.tern-project
temp_data*

junit.xml

tmp-*

scan-results.json

src/requesting-companies/data-dumps/*

ngrok.yml

.jpg:-
*.code-workspace

# Memory Leak Debug Files
heapdump-*.heapsnapshot
